@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Knewave&display=swap');
*{
    text-decoration: none;
    margin: 0px;
    padding: 0px;
}

body {
    margin : 0px;
    padding : 0px;
    font-family : 'Nunito', sans-serif;
}
.tape{
    position:static;
    width: 1440px;
    height: 91px;
    margin: auto;
}

.logo a{
    font-size: 36px;
    font-weight: 800 ;
    float : left;
    font-family: 'knewave',cursive ;
    color: #345221d3;
}

.menu{
    float: right;
}

nav{
    width: 100% ;
    margin: auto;
    display: flex;
    line-height : 68px;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    background: #ffffff00;
}

nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
nav ul li{
    display: inline;
}

nav ul li a{
    color : black;
    font-weight: normal;
    text-align: center;
    padding: 0px 30px 0px 30px ;
    text-decoration: none;
}

nav ul li a:hover{ 
    color: #345221;
}

section{
    margin-bottom: 0px;
    padding: 100px ;
}

.home{
    position: relative;
    height: 578px;
    width: 1063px;
    background: url("Saya.jpeg")no-repeat center fixed;
    background-size: cover ;
    opacity: 0,7; 
    display: flex;
    line-height: 164px;
   font-family: 'Nunito',sans-serif;
    color: #ffffffb2;
    font-size: 60px;
    text-align: center ;
    justify-items: center r;   

}


section h3{
    text-align: center;
    padding: 20px 0;
    color : #345221d3;
    margin-bottom: 20px;
}

main {
    clear: both;
    display: block;
    padding: 10px 60px;
}

article{
    width: 65%;
    float: left;
    padding: 15px;
    font-family: 'Nunito',sans-serif;
    background-color: #f9f9f9;
}

.article p{
    color: #666;
    word-spacing: 2px;
    line-height: 25px;
}

.contacts{
    background-color: #f9f9f9;
}

.box{
    color: #345221;
}

.box .in {
    width: 25%;
    padding: 10px;
    box-sizing:border-box; 
    float: left;
}

.icon{
    width: 70px;
    height: 70px;
    border : 2px solid;
    border-radius: 50%;
    text-align: center;
    line-height: 70px;
}

.box .in h4{
    margin: 10px 0;

}
table{
    border-spacing: 25px;
}
th{ 
    width:1063 px ;
    text-align: left;
    font-family:'Nunito', sans-serif;
    font-size: 14px;
    color: #FFFFFF;
    background-color:#345221ab; ;
}

td{
    text-align: left;
    font-size: 14px;
    color: #345221;

}

aside {
    width: 30%;
    padding: 20px;
    padding-right: 5px;
    text-align: center;
    float: right;
    font-family: 'Nunito',sans-serif;
    background-color: lightgray;
}

aside img {
    width: 150px;
    height: 150px;
}

aside h3{
    padding: 15px;
    font-family:'Nunito', sans-serif;
}

aside p {
    text-align:left;
    word-spacing: 2px;
    line-height: 25px;
    font-size: 12px;
   
}

aside h4{
    text-align: right;
    font-style: italic;
    font-size: 9px;
    padding: 20px;
    color: #969696;
}
footer{
    position: relative;
    padding: 30px 0;
    margin-top: -100px;
    clear: both;
    background-color: rgba(78, 78, 78, 0.952);
    color: #C4C4C4;
    text-align: center;
}
